.bottom-navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  z-index: 99999;
}

.bottom-safe-area {
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
}

.bottom-safe-area-dark {
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #424242;
}

.top-safe-area {
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
}

.fab-action {
  position: fixed !important;
  bottom: calc(env(safe-area-inset-bottom, -15px) + 15px);
  left: 0;
  right: 0;
  margin: 0 auto !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.page-padding {
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.MuiContainer-root {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
  min-width: calc(100% - 100px);
  min-height: calc(100vh - 64px);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
