$primary: #222831;
$secondary: #76abae;
$lightGrey: #efecec;
$darkGrey: #616161;
$grey: #d2d2d2;

:export {
  primary: $primary;
  secondary: $secondary;
  lightgrey: $lightGrey;
  darkgrey: $darkGrey;
  grey: $grey;
}
