@import '../../styles/palette.module.scss';

.header {
  font-weight: bold;
  color: $secondary;
}

.subHeader {
  font-weight: bold;
}

.center {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.goToHomeButton {
  margin-top: 25px;
}
